#after-form {
  margin-left: 34vw;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

#change-auth-action {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

#register-form,
#login-form {
  background-color: brown;
  /* width: 300px; */
  margin-left: 30vw;
  margin-right: 30vw;
  min-width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}
