<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./parts/half-head.ejs') %>

    <title><%= pageTitle %></title>

    <link defer rel="stylesheet" type="text/css" href="css/auth.css" />
    <script defer type="module" src="js/auth.js"></script>
  </head>
  <body>
    <div class="page">
      <div hidden id="register-block">
        <!-- hidden  -->
        <div class="register-form">
          <form id="register-form">
            <label for="username">register:</label>
            <input
              type="text"
              id="reg-inp-username"
              name="username"
              placeholder="username"
              required
            />

            <button type="submit">send</button>
          </form>
        </div>
      </div>

      <div id="login-block">
        <!-- hidden  -->
        <div class="register-form">
          <form id="login-form">
            <label for="username">login:</label>
            <input
              type="text"
              id="login-inp-username"
              name="username"
              placeholder="username"
              required
            />

            <button type="submit">send</button>
          </form>
        </div>
      </div>

      <div id="after-form">
        or <button id="change-auth-action">register</button>
      </div>
    </div>
  </body>
</html>
