<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./parts/half-head.ejs') %>

    <title><%= (pageTitle??"page") %></title>
  </head>
  <body>
    error page <%= errorCode ??"" %>
  </body>
</html>
