<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./parts/half-head.ejs') %>

    <title><%= pageTitle ?? "page" %></title>
    <link defer rel="stylesheet" type="text/css" href="css/home.css" />
    <script defer src="js/home.js"></script>
  </head>
  <body>
    <header>
      <h2>home page</h2>
      pages:
      <a href="/auth">authorization</a>
      <a href="/blog">new blog</a>
    </header>
    <main>
      <div class="page"></div>
    </main>
    <footer><a href="/some">k</a></footer>
  </body>
</html>
