<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle ?? "page" %></title>
    <link defer rel="stylesheet" type="text/css" href="css/home.css" />
    <script defer src="js/home.js"></script>
  </head>
  <body>
    home page
    <div class="page"></div>

    <style>
      body {
        background-color: aqua;
      }
    </style>
  </body>
</html>
