<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./parts/half-head.ejs') %>

    <title><%= pageTitle ?? "page" %></title>
    <link defer rel="stylesheet" type="text/css" href="css/home.css" />
    <script defer src="js/home.js"></script>
  </head>
  <body>
    home page
    <div class="page"></div>
  </body>
</html>
