<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link defer rel="stylesheet" type="text/css" href="css/some.css" />
    <script defer type="module" src="js/some.js"></script>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
